<h2>this a hello view</h2>
<div>
	<div><label>Your Name Pls:</label><input type="text" id="GuestName" name="GuestName"><button id="btsubmit">OK</button></div>
	<div><span id="greeting"></span></div>
</div>
